.boton-cart {
    height: 50px;
    width: 50px;
    margin: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  /* -----------mobile------------- */
  @media only screen and (min-width: 1023px) and (max-width: 1500px) {

    .boton-cart {
      height: 50px;
      width: 50px;
      margin: 5px;
      display: flex;
      justify-content:center;
      align-items: center;
      padding: 0px;
    }

  }
/* -----------mobile------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .boton-cart {
    height: 50px;
    width: 50px;
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px;
  }

}
/* ------------------------------------ */
@media only screen and (max-width: 767px) {
  .boton-cart {
    height: 35px;
    width: 40px;
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px;
  }

}
/* ------------------------------------ */