* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');

html,
body {
  background-color: #f5f6f7;
  font-family: "Manrope", sans-serif;
}
